/****************************************
************** Extra Styling ************
****************************************/
/****************
*********Key Frame
************/
@-webkit-keyframes m-dropdown-fade-in{
	from{opacity:0}to{opacity:1}
}
@-moz-keyframes m-dropdown-fade-in{
	from{opacity:0}to{opacity:1
}}
@-o-keyframes m-dropdown-fade-in{
	from{
		opacity:0
	}to{
		opacity:1
	}
}
@keyframes m-dropdown-fade-in{
	from{
		opacity:0
	}to{
		opacity:1
	}
}
@-webkit-keyframes m-dropdown-move-up{
	from{margin-top:10px}to{margin-top:0}
}
@-moz-keyframes m-dropdown-move-up{
	from{margin-top:10px}to{margin-top:0}
}
@-o-keyframes m-dropdown-move-up
{from{margin-top:10px}to{margin-top:0}
}
@keyframes m-dropdown-move-up{
	from{margin-top:10px}to{margin-top:0}
}
body{
    margin:0;
    padding:0;
    position:relative;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: #F7F8FB;
    color:#333;
    height:auto !important;
}
.form-control:focus{
    border-color:#1c63ae;
}
.filter-box input.search{
    border-radius: 20px;
}
.keyword_search_button{
    border-radius:50%;
}
.filter-box .select2-selection--single:not([class*=bg-]){
    border-color:#1c63ae;
    background:#FFF;
}
.form-control, .select2{
    border-color:#232323;
    border-width:1px;
}
.form-control:hover{
    border-color:#1579c2!important;
}
.form-control.search::-webkit-input-placeholder { /* Chrome */
  color: #232323;
}
.form-control.search:-ms-input-placeholder { /* IE 10+ */
  color: #232323;
}
.form-control.search::-moz-placeholder { /* Firefox 19+ */
  color: #232323;
  opacity: 1;
}
.form-control.search:-moz-placeholder { /* Firefox 4 - 18 */
  color: #232323;
  opacity: 1;
}
.select2-selection--single:hover .select2-selection__arrow:after{
    color:#1579c2!important;
}
.select2-selection--single:not([class*=bg-]):not([class*=border-]){
    border-color:#1c63ae;
    background:#FFF;
    border-width:1px;
    border-radius:20px;
}
.select2-selection--single:not([class*=bg-]), .select2-selection--multiple:not([class*=bg-]):not([class*=border-]){
        border-color:#1c63ae!important;
}
.select2-selection--single:hover:not([class*=bg-]):not([class*=border-]){
    border-color:#1579c2!important;
    color:#1579c2;
}
.filter-box .select2-selection--single:hover:not([class*=bg-]){
       border-color:#1579c2; 
       color:#1579c2;
}
.text-teal-600, .text-teal-600:hover, .text-teal-600:focus{
   color:#1579c2 !important;
}
a{
    color: #232323;
    font-weight:300;
}
a:hover{
    text-decoration:none;
}
}
.btn a, a.btn{
   color: #232323; 
}
.btn.bg-teal-600{
  color: #232323;  
}
ul {
    padding-left: 0;
}
.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6{
    font-size:17px;
}
.tiny-font {
    font-size: 12px;
}
 .support:hover{
 	background: #1579c2;
 	color: #1b1b1b;
 }
 .display-inline{
 	display: inline-block;
 }
 .inline{
 	display: inline;
 }
 .table-display{
 	display: table;
 }
 .m-0{
 	margin: 0;
 }
 .m-b-0{
 	margin-bottom: 0;
 }
 .m-center {
    margin: auto;
    display: table;
}
h5, .h5{
    font-size:15px;
}
.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus{
    background-color: #1579c2;
    color: #FFF;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
        background-color: #1579c2;
    color: #FFF;
}
.timeline-icon-i , numbericon{
   background-color: #1579c2; 
}

/*#delete_confirm_model{*/
/*    visibility:hidden;*/
/*}*/
/*.modal-backdrop #delete_confirm_model{*/
/*    display:block;*/
/*    visibility:visible;*/
/*}*/
.modal-backdrop.in{
    opacity:1;
    display:none;
}
.btn-link{
    background:#1c63ae;
    color:#FFF;
}
.btn-link:focus ,.btn-link:hover{
    background:#1579c2;
    color:#FFF;
    text-decoration:none;
}
.modal-footer{
    border-top:0;
}
 /********* Button **********/
 .next-btn i{
     margin-left:10px;
 }
 .btn[class*=bg-]:hover, .btn[class*=bg-]:focus, .btn[class*=bg-].focus{
     -webkit-box-shadow:none;
     box-shadow:none;
 }
 .btn-info:focus, .btn-info.focus, .btn-info:hover{
    background-color:#1579c2;
    border-color:transparent;
 }
 .navbar-right{
     margin-top:15px;
 }
 .bg-unknown, .bg-expired, .bg-past, .bg-spam-reported, .bg-pending, .bg-not_sent, .bg-canceled, .bg-cancelled, .bg-unactive, .bg-disabled, .bg-unsubscribed, .bg-unconfirmed, .bg-draft, .bg-blacklisted, .bg-done{
    color: #FFF !important;
    background: #1c63ae;
    padding: 9px 10px !important;
    border-radius: 38px;
    text-align: center;
    /*text-transform: uppercase;*/
    font-size: 13px;
    border:0px;
  border-color:#232323;
 }
 .bg-waiting, .bg-ready, .bg-sent, .bg-finished, .bg-pending_active ,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color:  #1579c2;
 	color: #FFF;
 }
 .bg-waiting, .bg-ready, .bg-sent, .bg-finished, .bg-pending_active, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
     	background-color:  #1c63ae;
     	color:#FFF;
     	border-color:transparent;
 }

  .bg-unknown:hover,  .bg-unknown:focus, .bg-expired:hover, .bg-past:hover, .bg-spam-reported:hover, .bg-pending:hover, .bg-not_sent:hover, .bg-canceled:hover, .bg-cancelled:hover, .bg-unactive:hover, .bg-disabled:hover, .bg-unsubscribed, .bg-unconfirmed, .bg-draft, .bg-blacklisted, .bg-done{
       	background-color:  #1579c2;
 	color: #FFF;
  }
 .gold-btn ,.bg-info-800 ,.bg-teal-800 ,.bg-teal{
    color: #FFF !important;
    background: #1c63ae;
    padding: 9px 10px !important;
    border-radius: 38px;
    text-align: center;
    /*text-transform: uppercase;*/
    font-size: 13px;
    border:0px;
 }
 .gold-btn:hover ,.bg-info-800:hover,.navbar-inverse .navbar-nav > li > a.gold-btn:hover, .navbar-inverse .navbar-nav > li > a.gold-btn:focus,.bg-info-800:focus ,.bg-teal-800:hover ,.bg-teal-800:focus,.bg-teal:hover ,.bg-teal:focus{
 	background-color:  #1579c2;
 	color: #FFF;
 }
 .btn.btn-xs{
     padding: 11px 10px
 }
 .nav-tabs{
     border-bottom-color: #1579c2;
 }
 .text-black{
     color:#232323;
     font-weight:300;
 }
 .theme-btn {
    font-size: 13px;
    padding: 9px 27px;
    border-radius: 38px;
 	border: 1px solid #1c63ae;
 	display: table;
 	margin: 10px auto;
 	text-align: center;
 	color:#333;
 }

 .gray-btn{
    padding: 9px 27px;
    border-radius: 38px;
 	background:  #535353;
 	text-align: center;
 	color: #FFF;
    font-size: 13px;
 }
 .gray-btn:hover{
 	background: #1c63ae;
 	color: #FFF;
 }
 .trigger-btn ,.bg-grey-800{
	width: 100%;
    border: 1px solid #a9a9a9;
    padding: 15px 25px;
    border-radius: 35px;
    color: #1b1b1b;
    text-align: center;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
 }
  .bg-grey-800{
     display:inline;
     padding: 9px 20px;

 }
 .trigger-btn:hover, .trigger-btn:focus  ,.bg-grey-800:focus ,.bg-grey-800:hover{
 	color: #FFF;
 	background: #1c63ae; 	
 }
 .padding-btn{
    padding: 15px 67px;
 }
 .fix-width{
 	width: 170px;
 }
 .theme-btn:hover , .theme-btn:focus {
 	background: transparent;
 	color: #1579c2;
 	border-color: #1579c2;
 }
.sm-margin-top {
    margin-top: 10px;
}
.bold{
 	font-weight: bold;
 }
 .green{
 	color: rgb(70,185,79);
 }
 .blue{
 	color: #26BEED;
 }
 .red{
 	color: rgb(239,21,21);
 }
 .purple{
 	color: rgb(141,16,64);
 }
 .dark-gray{
 	color: #a9a9a9;
 }
 .gray{
 	color: #f2f2f2;
 }
 .gold{
 	color: #1c63ae;
 }
 .light-gold{
 	color: #ae7e3d;
 }
 .black{
 	color: #0A0909;
 }
/* .control-select{
     display:none;
 }*/
h4, .h4, h5, .h5, h6, .h6{
    margin-top:24px;
}
.breadcrumb{
    background-color:transparent;
}
.page-title .breadcrumb{
    float:right;
}
.page-title {
    /*padding: 10px 0 0px 0;*/
}
/*.sh_sidebar{*/
/*	display: block;*/
/*    width: 20%;*/
/*    float: left;*/
/*    height: 100%;*/
/*    position: relative;*/
/*}*/
/******** sidebar**********/
.sh_sidebar{
 	background: #1f1f1f;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.08);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 230px;
    z-index: 9999;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
 	-webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.sidebar-collapse .sh_sidebar{
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
}
.logo {
   background: #3C3C3C;
   padding:20px;
}
.logo img{
    width:100%;
}
.dashboard-nav {
    list-style: none;
}
.dashboard-nav li {
    display: block;
    position: relative;
}
.dashboard-nav li a {
    padding: 15px 30px;
    color: #FFF;
    text-transform: capitalize;
    transition-property: background,color;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display:block;
}
.dashboard-nav li:after {
    content: "\e606";
    position: absolute;
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 21px;
    right: 20px;
    color: #FFF;
    font-weight: 900;
}
.dashboard-nav li.active a {
    background: #FFF;
    color: #1c63ae;
    border-bottom: 1px solid #1c63ae;
}
.dashboard-nav li a i {
    font-size: 25px;
    margin-right: 5px;
   vertical-align: middle;
}
.dashboard-nav li.active:after {
    color: #1b1b1b;
}
.support {
    background: #1c63ae;
    color: #1b1b1b;
    padding: 8px 30px;
    /* display: table; */
    margin: auto;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: inherit;
    text-align: center;
    position: absolute;
    bottom: 56px;
    right: 17%;
    line-height: 23px;
}
.dashboard-nav li a:hover {
    background: #FFF;
    color: #1b1b1b;
}
.dashboard-nav li:hover:after {
    color: #1b1b1b;
}
/*********
********* page content
*******************/
.sh_content{
    z-index: 800;
    position: relative;
    height: 100%;
}
.sidebar-collapse .sh_content{
	padding-left: 0;	
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.sh_content{
    /*z-index: -1;*/
    position: relative;
    -webkit-transition: padding-left .3s ease-in-out;
    -o-transition: padding-left .3s ease-in-out;
    transition: padding-left .3s ease-in-out;
    padding-left: 230px;
	-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition-property: padding-left;
    width: 100%;
    margin: auto;
}
.nav-collapse-btn ,.mobile-menu-button{
    background: transparent;
    color: #1c63ae!important;
    border: 0;
}
.page-header-content{
    background: #FFF;
    /*padding: 13px;*/
}
.nav-collapse-btn:hover{
    color:#1579c2;
}
.nav-collapse-btn i{
    font-size: 35px!important;
}
.navbar-inverse{
    background: #F9F9FC;
    /*padding: 8px 0;*/
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
    -moz-box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.1);
    color:#1f1f1f;
}
.navbar-inverse .navbar-nav > li.dropdown-user > a:hover, .navbar-inverse .navbar-nav > li.dropdown-user > a:focus
{
    background-color:transparent;
    color:#1f1f1f;
}
.navbar-inverse .navbar-nav > li.dropdown-user > a{
    color:#1f1f1f;
    padding-top:0;
    
}
.dashboard-page {
    padding-top: 50px;
    display:block;
}
.content-wrapper{
    margin:50px auto;
    display: block;
}
#navbar-mobile .caret{
    font-size: 40px;
    vertical-align: middle;
}
.caret:after{
    content: "\F35D";
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.graph-contain {
    margin: auto;
    text-align: center;
}
.graph-item {
    width: 20%;
    display: inline-block;
}
.arrow {
    width: 5%;
    display: inline-block;
    color: rgba(200,201,204);
    font-size: 60px;
    vertical-align: top;
    margin-top: 15px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color:transparent;
}
.dropdown-menu.open{
    display: block;
    -webkit-animation: m-dropdown-fade-in .3s ease 1,m-dropdown-move-up .3s ease-out 1;
    -moz-animation: m-dropdown-fade-in .3s ease 1,m-dropdown-move-up .3s ease-out 1;
    -ms-animation: m-dropdown-fade-in .3s ease 1,m-dropdown-move-up .3s ease-out 1;
    -o-animation: m-dropdown-fade-in .3s ease 1,m-dropdown-move-up .3s ease-out 1;
    animation: m-dropdown-fade-in .3s ease 1,m-dropdown-move-up .3s ease-out 1;
    z-index: 50;
}
ul.campaign-steps > li.active > a, ul.campaign-steps > li.active > a:hover{
    background:#1579c2;
    border-color:#1579c2;
}
.dropdown-menu {
   position: absolute;
    top: 100%;
    right:  23px;
    z-index: 1000;
    display: none;
    
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.dropdown-menu > li > a i{
	margin-right: 5px;
	font-size: 15px;
}
.dropdown-menu > li:hover a{
	background: #f2f2f2;
	color: #1b1b1b;
}
.dropdown-menu > li > a{
   padding: 7px;
    display: block;
    font-size: 15px; 
}
/*********
*-*****balance
*****/
.panel-card{
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    -moz-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #f2f2f2;
    margin-bottom:15px;
    margin-top:15px;
}
.width-80{
    width: 81%;
    margin: auto;
}
.modern-listing.top-border-none > li:first-child{
    background-color: #232323;
    background-image: -webkit-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -moz-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -o-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -ms-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    color: #FFF;
    padding: 15px;
    border-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


ul.modern-listing li{
    margin-bottom:0;
        background: #FFF;
    padding: 15px;
    border-bottom: 2px solid #f2f2f2;
    border-top: 0;
     font-weight:300;
}
ul.modern-listing li a{
    color:#333;
    font-size: 14px;
     font-weight:300;
}

ul.modern-listing li .row{
    position:relative;
    top:20px;
    font-size: 14px;
    font-weight:300;
}
.modern-listing.top-border-none > li:first-child .row{
    position:relative;
    top:0px;
}
ul.modern-listing li h5{
        font-weight:300;
}
ul.modern-listing li i, .table-row-icon{
    color:#1579c2;
}
.bg-teal-600{
    background-color:transparent;
    border-color:#1c63ae;
    
}
.bg-teal-600:hover,.bg-teal-600:focus{
    border-color:#1579c2;
    color:#1579c2!important;
    background-color:#FFF;
}
.bg-grey{
    background-color:#FFF;
    color:#232323 !important;
    /*border:0;*/
}
.modern-listing .dropdown-menu li{
    padding:0;
    padding-bottom:0!important;
}
ul.modern-listing li i, .table-row-icon{
    height:auto !important;
}
table.table td{
    color: #232323;
    font-weight:300 !important;
    font-family: 'Roboto', sans-serif;
}

table.table  thead tr td , table.table.table-box  tr th{
    background-color: #232323;
    background-image: -webkit-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -moz-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -o-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: -ms-linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    background-image: linear-gradient( 0deg, #232323 0%, #6d6d6d 100%);
    color:#FFF;
    padding: 15px!important;
    border-bottom: 0;
}
table.table  thead tr td:first-of-type{
    border-top-left-radius: 7px;		
}
table.table  thead tr td:last-of-type{
    border-top-right-radius: 7px;	
}
table.table  tbody tr td{
	background: #FFF;
	padding: 15px !important;
	margin: 5px;
	border-bottom: 2px solid #f2f2f2;
	border-top:0; 
}
table.table  tbody tr td i{
	color: rgba(200,201,204);
	margin-right: 5px;
}
.table-box h5{
    font-weight:300;
}
table.table tbody tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 7px;	
}
table.table tbody tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 7px;
}
.panel-card a{
	margin-bottom: 15px;
	margin-top: 10px;
}
.text-teal-800, .text-teal-800:hover, .text-teal-800:focus{
    color:#1579c2!important;
}
/*******
***** Create automation
***********/
.form-group label{
    display: block;
    color: #a9a9a9;
}
.form-group .form-control.col-md-6{
    width: 48%;
    margin-left: 7px;
}
.form-group input{
    width: 98%;
    height: 40px;
    border: 1px solid #a9a9a9;
    border-radius: 25px;
    margin: 10px auto;
    color: #1b1b1b;
    padding: 12px 20px;
}
.choice span{
    border-color:#1c63ae;
}
.checker span.checked{
    background: #1579c2;
    color: #fff;
    border-color: #1579c2;
}
.sub_section {
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    -moz-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #f2f2f2;
}
.modal{
    z-index:20000;
}
.big-icon {
    list-style:none;
}
.big-icon li a.bg-info-800{
    margin:auto;
    display:table;
}
.big-icon li{
   color: rgb(169,169,169);
}
.big-icon li a{
    color:rgb(169,169,169);
}
.big-icon li h4{
    text-align:center;
     display: block;
}
.big-icon li i{
    display: block;
    font-size: 42px;
    line-height: 42px;
    color: rgb(169,169,169)!important;
    
}
 .bg-grey{
  
}
.form-validate-jqueryz{
    /*-webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);*/
    /*-moz-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);*/
    /*box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);*/
    /*background-color: #fff;*/
    /*padding: 15px;*/
    /*border-radius: 10px;*/
    /*position: relative;*/
    /*border: 1px solid #f2f2f2;*/
    /*margin-bottom: 15px;*/
    /*margin-top: 15px;*/
}
 .shading-input{
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    position: relative;
    padding: 12px;
 }
 .shading-input input{
 	width: 100%;
 	height: 30px;
 	border:1px solid #ddd;
 	border-radius: 4px;
 	padding: 12px;
 	margin:0;
 }
 .shading-input input.input-50 {
    width: 49%;
    display:inline-block;
}
.nav-tabs.nav-tabs-top > li.active > a, .nav-tabs.nav-tabs-top > li.active > a:hover, .nav-tabs.nav-tabs-top > li.active > a:focus, .nav-tabs.nav-tabs-top > li > a:hover{
    border-bottom-color:#1579c2;
}
.mask-control{
    display:none;
}
ul.campaign-steps > li.active > a:hover{
    color:#FFF;
}
 ul.campaign-steps > li.active > a:focus, ul.campaign-steps > li > a:hover{
    color:#1579c2;
}

/***********
Responsive
**********/
@media (max-width: 767px){
    .page-content {
        display: block;
    }
    .sh_sidebar{
		margin-top: 75px;
	    -webkit-transform: translate(-230px, 0);
	    -ms-transform: translate(-230px, 0);
	    -o-transform: translate(-230px, 0);
	    transform: translate(-230px, 0);
    }
    .sidebar-open .sh_sidebar{
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    transform: translate(0, 0);
    }
	.sh_content{
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    transform: translate(0, 0);
	    padding-left: 0;
	}
	.sidebar-open .sh_content {
		padding-left: 230px;
	 }
	
	.page-content .dashboard-page .arrow{
		display: none;
	}
}
@media (max-width: 640px){
	.dashboard-page .h2{
		font-size: 16px;
	}
	.graph-item{
		display: block;
		margin: auto;
		width: 100%;
	}
	 .arrow{
		margin: auto;
		display:table;
	}
	 .arrow i.mdi-share:before{
		content: "\f72d";
	}
   .arrow i.mdi-share.mdi-flip-v:before{
		-webkit-transform: scaleY(1); 
	    transform: scaleY(1); 
	}
    .filter-group{
        margin-bottom: 22px;
        display: block;
        margin-right: 0;
    }
    .filter-box .select2{ 
        max-width:100% !important;
        width:100% !important;
    }
    .top-list-controls .bg-info-800{
        margin: 10px auto;
        display: table;
    }
    .table-responsive{
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

}